body{
Background-color: #383D58;
Color: white;
  margin:0;
  padding:10;
  font-size:16px;
  display:flex;
  alingn-items:center;
}
.calculadora{
  background-color:#2f2b39;
  width:252px;
  edge:5px;
.Cabecalho{
  background-coor: #383D58;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 24px 0;
}
.cabecalho-imagem{
  width: 20%;
}
.cabecalho-Lista-item{
  display: inline-block;
  margin: 0 16px;
  padding: 24px 0;
  font-sie: 24px;
}
.escola{
  background-image: Linear-gradient (#383D58,#00c0eb);
  color: white;
  display: flex;
}
.escola.conteudo{
 width: 100
  display:flex;
  justify-content:center;
  align-intems: center;
  
